In [42]:
import pandas as pd
from datetime import datetime

In [29]:
dict_cars = {
    "cars" : ["Nissan", "Toyota", "Mercedes", "Ferrari", "Aston Martin", "Audi"],
    "manufacture_date" : ["09-05-2016", "04-08-2017", "06-05-2018", "02-05-2019", "10-05-2020", "04-06-2023"],
    "last_service_date" : ["09-05-2017", "04-08-2018", "06-05-2019", "02-05-2020", "10-05-2021", "04-06-2024"]
}

In [30]:
car_df = pd.DataFrame(dict_cars)

In [31]:
car_df

           cars manufacture_date last_service_date
0        Nissan       09-05-2016        09-05-2017
1        Toyota       04-08-2017        04-08-2018
2      Mercedes       06-05-2018        06-05-2019
3       Ferrari       02-05-2019        02-05-2020
4  Aston Martin       10-05-2020        10-05-2021
5          Audi       04-06-2023        04-06-2024

In [37]:
new_car = {
    "cars" : ["Dodge"],
    "manufacture_date" : ["04-06-2021"],
    "last_service_date" : ["04-06-2023"]
}

In [38]:
car_df.loc[6] = ["Dodge", "04-06-2021", "04-06-2023"]

In [39]:
car_df

           cars manufacture_date last_service_date
0        Nissan       09-05-2016        09-05-2017
1        Toyota       04-08-2017        04-08-2018
2      Mercedes       06-05-2018        06-05-2019
3       Ferrari       02-05-2019        02-05-2020
4  Aston Martin       10-05-2020        10-05-2021
5          Audi       04-06-2023        04-06-2024
6         Dodge       04-06-2021        04-06-2023

In [41]:
car_df["manufacture_date"] = pd.to_datetime(car_df["manufacture_date"])
car_df["last_service_date"] = pd.to_datetime(car_df["last_service_date"])

In [56]:
car_filters = car_df[(pd.to_datetime("11-08-2024").year - car_df["last_service_date"].dt.year) > 3]

In [57]:
car_filters

       cars manufacture_date last_service_date
0    Nissan       2016-09-05        2017-09-05
1    Toyota       2017-04-08        2018-04-08
2  Mercedes       2018-06-05        2019-06-05
3   Ferrari       2019-02-05        2020-02-05